
@{
    ViewBag.Title = "Registration Index";
}

<h2>User Registration Page</h2>
<form action="/UserReg/UserReg" method="post"><br />
    First Name: <input type="text" name="FirstName" /><br />
    Last Name: <input type="text" name="LastName" /><br />
    <!--number lets user keyboard on mobile pop up to a number-->
    Email: <input type="text" name="Email" /><br />
    Phone Number: <input type="number" min="1111111111" name="PhoneNumber" /><br />
    Password: <input type="password" name="Password" /><br />

    <input type="submit" name="Register!" /><br />
    @*<input type="reset" name="Reset" />*@

</form>

