
@{
    ViewBag.Title = "UserReg";
}

<h2>User Registration</h2>
<h2>Successfully Registered @ViewBag.FirstName @ViewBag.LastName Account!</h2>
<h3>Your user account is @ViewBag.Email</h3>
<h3>The account was registered to the Phone Number: @ViewBag.PhoneNumber</h3>

<h4>For security reasons we will not display your password, but soon you should receive an email notifying you of the account being created. Therein shall be your username(Email address provided) and your password.</h4>

